.ggrach__debug-bar {
    background: rgb(246,246,246) !important;
    background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 46%) !important;
    border-top: 1px solid #b3b3b3 !important;
}

.ggrach__debug-bar__log__line {
    font-size: 12px;
    color: darkgrey;
}