.ggrach__debug-bar {
    width: 100% !important;
    position: fixed !important;
    bottom: 0 !important;
    height: 30px !important;
    z-index: 9999 !important;
    display: flex !important;
    align-items: center !important;
}

.ggrach__debug-bar:not(.hide-debug-bar) {
    left: 0 !important;
}

.ggrach__debug-bar * {
    font-family: Arial !important;
}

.ggrach__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000cc;
    z-index: 9998;
    cursor: pointer;
}

.ggrach__debug-bar__item {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.ggrach__debug-bar__right {
    position: absolute !important;
    top: -1px !important;
    right: 0 !important;
    display: flex !important;
}

.ggrach__debug-bar__right__item {
    height: calc(100% + 1px) !important;
    display: flex !important;
    min-width: 30px !important;
    text-decoration: none !important;
    padding-left: 3px;
    padding-right: 3px;
    justify-content: center !important;
    line-height: 33px !important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.ggrach__debug-bar > .ggrach__debug-bar__item {
    display: flex !important;
    line-height: 33px !important;
    justify-content: center !important;
    padding-left: 5px;
    padding-right: 5px;
    height: 31px !important;
    min-width: 30px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    position: relative !important;
    top: -1px !important;
    order: 99;
    border-right: 1px solid #4c4c4c;
}

.ggrach__debug-bar__log {
    position: absolute !important;
    bottom: 30px !important;
    left: 0 !important;
    width: 100% !important;
    background: white !important;
    padding: 0px 15px 15px 0px !important;
    max-height: 500px !important;
    text-decoration: none !important;
    overflow: auto !important;
}

.ggrach__debug-bar__log > pre {
    padding: 10px !important;
    padding-bottom: 7px !important;
    border-bottom: 1px solid #c3c3c3 !important;
    font-size: 13px !important;
    line-height: 16px !important;
    margin: 0 !important;
}

.ggrach__debug-bar__log > pre > code {
    white-space: nowrap !important;
}

.ggrach__debug-bar__log > pre:last-child {
    border-bottom: unset !important;
}

.ggrach__debug-bar__item.active {
    font-weight: bold !important;
    height: 41px !important;
    line-height: 41px !important;
    z-index: 1;
    border-radius: 7px 7px 0 0;
}

.ggrach__debug-bar__item.type-notice-notice {
    order: 3;
}

.ggrach__debug-bar__item.type-notice-bx {
    order: 15;
}

.ggrach__debug-bar__item.type-notice-warning {
    order: 2;
}

.ggrach__debug-bar__item.type-notice-error {
    order: 1;
}


.ggrach__debug-bar__item.type-notice-success {
    order: 4;
}

.ggrach__debug-bar__item.type-notice-get {
    order: 10;
}

.ggrach__debug-bar__item.type-notice-post {
    order: 11;
}

.ggrach__debug-bar__item.type-notice-cookie {
    order: 13;
}

.ggrach__debug-bar__item.type-notice-server {
    order: 14;
}

.ggrach_background_black {
    color: #fff !important;
    background: #000;
}

.ggrach__debug-bar__right__item_close {
    font-size: 26px !important;
}

.ggrach__debug-bar.hide-debug-bar > * {
    display: none !important;
}

.ggrach__debug-bar.hide-debug-bar {
    background: transparent !important;
    border: unset !important;
    width: 30px !important;
    right: 0 !important;
}

.ggrach__debug-bar.hide-debug-bar > .ggrach__debug-bar__right {
    display: flex !important;
}

.ggrach__debug-bar.hide-debug-bar > .ggrach__debug-bar__right > * {
    display: none !important;
}

.ggrach__debug-bar.hide-debug-bar > .ggrach__debug-bar__right > [data-click="toggle_debug_bar"] {
    display: flex !important;
}